{%  extends "store/base.html"  %}

{%  block title  %}Car store{%  endblock  %}

{%  block context  %}
<style>
body {
    background: #B5C9FF;
}
.title {
    text-align: center;
    margin: 35px;
}
h3 {
    text-align: right;
}
.textcols {
    background: #617DC7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column {
    background: #DAE1F5;
    white-space: normal;
    width: 50%;
    flex-direction: column;
	flex-basis: 100%;
    vertical-align: top;
    border: 1px dotted #939;
    flex: 0 0 calc(25% - 5px);
    padding-left: 38px;
    padding-bottom: 10px;
    margin: 25px;
}
.input_button {
    margin: 0 auto;
    display: block;
    margin-top: 25px;
    background: #DAE1F5;
    padding: 2px 1em 0 1em;
}
</style>

<div class="title">
    <a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Авторизация</a>
<h1>Каталог машин</h1>
</div>
<form method="POST">
    {% csrf_token %}
    <div class="textcols">
    {% if all_cars %}
        {%  for el in all_cars  %}
            <div class="column">
                <p><h2>{{  el.car_type.brand  }}  {{  el.car_type  }} - {{  el.color  }}  </h2></p>
                <p>Цена: ${{  el.car_type.price  }}</p>
                <p></p>
                {%  if el in blocked_cars  %}
                    <label>Выбрать<input class="input_button" type="submit" name='select' value='{{  el.id  }}' disabled></label>
                {%  else  %}
                    <label>Выбрать<input class="input_button" type="submit" name='select' value='{{  el.id  }}'></label>
                {%  endif  %}
             </div>
        {%  endfor  %}
    {% else %}
        No cars
    {%  endif  %}
    </div>
    <input class="input_button" type="submit" value="Оформление закза">
</form>
{%  endblock  %}