{%  extends "store/base.html"  %}

{%  block title  %}Car store{%  endblock  %}

{%  block context  %}
<style>
body {
    background: #FFFFFF;
}
.title {
    text-align: right;
    margin: 35px;
}
.title1 {
    text-align: center;
    margin: 35px;
}
h3 {
    text-align: right;
}
.textcols {
    background: #F0F8FF;
    flex-direction: row;
    display: grid;
    grid-template-columns: 500px 500px 500px;
}

.column {
	flex-basis: 100%;
    vertical-align: top;
    background: #FFFFFF;
    padding-left: 15px;
    margin: 10px;
    border: 1px dotted #939;
    flex: 0 0 calc(25% - 5px);
}

.input_button {
    margin: 0 auto;
    display: block;
    margin-top: 25px;
    background: #DAE1F5;
    padding: 2px 1em 0 1em;
}
.pagination {
    text-align: center;
}
</style>

<div class="title">
    <a href="{%  url 'account_signup'  %}">Регистрация</a>  |
    <a href="{%  url 'account_login'  %}">Войти</a>  |
    <a href="{%  url 'account_logout'  %}">Выйти</a>
<hr>

</div>
<h1 class="title1">Каталог машин</h1>
<div class="textcols">
    {% if page_obj %}
        {%  for el in page_obj  %}
            <form method="POST"  enctype="multipart/form-data" action="add/{{  el.id  }}">
                {% csrf_token %}
                <div class="column">
                <img style="float: right;" class="img-car" src="{{ el.photo.url }}" width="auto" height="230px" >
                <p>{{  el.car_type.brand  }}  <h2><a href="{%  url 'update_car' el.id %}">{{  el.car_type  }}</a> - {{  el.color  }}  </h2></p>

                <p>Цена: ${{  el.car_type.price  }}</p>
                <p></p>
                {%  if el.blocked_by_order is not None  %}
                    <input class="input_button" type="submit" value='Заказать' disabled>
                {%  else  %}
                    <input class="input_button" type="submit" value='Заказать'>
                {%  endif  %}
                </div>
            </form>
        {%  endfor  %}
    {% else %}
        No cars
    {%  endif  %}
</div>

<div class="pagination" >

{%  if page_obj.has_other_pages  %}
    {%  if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">&lt</a>
    {%  endif  %}

    {%  for page in page_obj.paginator.page_range  %}
        {%  if page_obj.number == page  %}
            {{ page_obj.number }}
        {%  elif page >= page_obj.number|add:-2  and page <= page_obj.number|add:2 %}
            <a href="?page={{page}}">{{page}}</a>
        {%  endif  %}
    {%  endfor  %}

    {%  if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">&gt</a>
    {%  endif  %}
{%  endif  %}
</div>
<form method="POST">
    {% csrf_token %}
    <input class="input_button" type="submit" value="Оформление заказ">
</form>

{%  endblock  %}
