{%  extends "store/base.html"  %}

{%  block title  %} Order is processed {%  endblock  %}

{%  block context  %}
<style>
body {
    background: #FFFFFF;
}
div {
    background: #F0F8FF;
    border: 1px solid #939;
    padding-left: 38px;
    padding-bottom: 20px;
    margin: 30px;
}

.input_button {
    margin-top: 25px;
    background: #DAE1F5;
    padding: 5px 2em 0 2em;
    text-align: center;
    font-size: 20px;
    margin-left: 3%;
}

</style>
<form method="GET">
    {% csrf_token %}
    <div>
        <h3> Заказ {{  order_id  }}</h3>
        <h1>Заказ оформлен, служба поддержки скоро свяжется с вами </h1>
    </div>
    <input class="input_button" type="submit" name="index_page" value="На главную страницу">
    <input class="input_button" type="submit" name="purchased_cars" value="Просмотреть список купленных автомобилей">
</form>
{%  endblock  %}